body {
  font-family: fantasy;
  letter-spacing: 1.5px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.212);
  border: 6px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}
